* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 12px;
}

td.pixel {
    width: 4px;
    height: 4px;
    border: 0;
}

.pixel-index {
    font-size: 6px;
    display: flex;
    justify-content: right;
    color: #999;
    padding-right: 4px;
}
