* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 12px;
}

.pixel-index {
    font-size: 8px;
    display: flex;
    justify-content: right;
    padding: 0 4px 1rem 0;
    color: #999
}
