* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 33, 29);
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

td.pixel {
    width: .5rem;
    height: .5rem;
    border: 0;
}

button {
    height: 2rem;
    border: 0;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

h1 {
    font-family: monospace;
    font-size: 2.5rem;
    color: rgba(213, 65, 65, 0.10);
    text-shadow: 0 3px 0 rgba(255, 31, 32, 0.3);
}

.text-gradient {
    background: #FF9020FF;
    background: linear-gradient(to top, #ff9020 36%, #1898cc 66%);
    -webkit-background-clip: text;
}

.pixel-index {
    font-size: 9px;
    display: flex;
    justify-content: right;
    color: #999;
    padding-right: 4px;
}

#fireCanvas {
    display: flex;
    justify-content: center;
}

#control {
    display: flex;
    justify-content: center;
}

